/Ordenação/Ordenacao/nbproject/private/
/Ordenação/Ordenacao/build/
/Ordenação/Ordenacao/dist/
/Desafio 1/nbproject/private/
/Desafio 1/build/
/Tarefa Avaliativa - Cássio e Frederico/nbproject/private/
/Tarefa Avaliativa - Cássio e Frederico/build/
/ExemploHeap/nbproject/private/
/ExemploHeap/build/
/Algoritmos de Pesquisa/nbproject/private/
/Algoritmos de Pesquisa/build/
/Pesquisa Digital Exemplo/nbproject/private/
/Pesquisa Digital Exemplo/build/
/Avaliacao Pesquisa Digital/nbproject/private/
/Avaliacao Pesquisa Digital/build/
/Avaliacao Pesquisa Digital/dist/
/Tabuleria - Modulo Excluir/nbproject/private/
/Tabuleria - Modulo Excluir/build/